<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head', {title: `Backtesting Form`, background:
    `https://images.mktw.net/im-429485?width=700&size=1.4382022471910112&pixel_ratio=1.5`});
    -%>

    <!-- adapted from https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_html_attr_set and 
    https://stackoverflow.com/questions/28203140/how-to-make-todays-date-default-value-in-bootstrap-date-input/28203274-->
    <script>
      var today = Date();

      $(document).ready(function () {
        $("#creation_time").attr("value", today);
        $("#submit-button").click(function () {
          $("#creation_time").attr("value", today);
        });
      });

      var checks = document.querySelectorAll(".check");
      var max = 3;
      for (var i = 0; i < checks.length; i++)
        checks[i].onclick = selectiveCheck;
      function selectiveCheck(event) {
        var checkedChecks = document.querySelectorAll(".check:checked");
        if (checkedChecks.length >= max + 1) return false;
      }
    </script>
  </head>
  <body>
    <%- include('partials/navbar-header', {header: `Backtest Form`, subheader:
    `Submit Your New Backtest`}); -%>

    <div class="container" id="form-container" style="max-width: 600px">
      <form action="/backtest" method="POST">
        <div class="row">
          <div class="form-group col-sm-6 col-md-6">
            <label for="starting_balance">Starting Balance ($)</label>
            <input
              type="text"
              class="form-control"
              id="starting_balance"
              name="starting_balance"
              placeholder="1000"
              value="1000"
              required
            />
          </div>
          <div class="form-group col-sm-6 col-md-6">
            <div class="col">
              <div class="col justify-content-start">
                <label for="timeframes_id">Timeframes (in mins): </label>
                <select
                  class="form-control"
                  name="timeframes_id"
                  id="timeframes_id"
                >
                  <% timeframes.forEach((type) => { %>
                  <option value="<%= type.id %>"><%= type.timeframe %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4 col-md-4">
            <div class="col">
              <div class="col justify-content-start">
                <label for="timeframes_id">Front Leg: </label>
                <select
                  class="form-control"
                  name="front_leg_id"
                  id="front_leg_id"
                >
                  <% instruments.forEach((type) => { %>
                  <option value="<%= type.id %>"><%= type.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-4 col-md-4">
            <div class="col">
              <div class="col justify-content-start">
                <label for="timeframes_id">Middle Leg: </label>
                <select class="form-control" name="mid_leg_id" id="mid_leg_id">
                  <% instruments.forEach((type) => { %>
                  <option value="<%= type.id %>"><%= type.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-4 col-md-4">
            <div class="col">
              <div class="col justify-content-start">
                <label for="timeframes_id">Back Leg: </label>
                <select
                  class="form-control"
                  name="back_leg_id"
                  id="back_leg_id"
                >
                  <% instruments.forEach((type) => { %>
                  <option value="<%= type.id %>"><%= type.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>
        </div>

        <br />
        <div class="col text-center">
          <input
            class="btn btn-primary btn-lg text-center"
            id="submit-button"
            type="submit"
            value="Submit"
          />
        </div>
      </form>
    </div>
    <%- include('partials/footer'); -%>
  </body>
</html>
