<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head', {title: `Backtesting Form`, background:
    `https://images.mktw.net/im-429485?width=700&size=1.4382022471910112&pixel_ratio=1.5`});
    -%>
  <body>
    <%- include('partials/navbar-header', {header: `Backtest Report`,
    subheader: `ID No. ${mainResult.id}`}); -%>
    <br><br>
   
    <div class="container" id="index-container" style="max-width: 600px">
     
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <strong>Datetime of Backtest Run:</strong> 
          <p><%= mainResult.created_timestamp %></p>
        </div>
        <div class="col-sm-6 col-md-6">
          <strong>Timeframe:</strong> 
          <p><%= mainResult.timeframe%></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-md-4">
          <strong>Backtest Data Length (in rows):</strong>: 
          <p><%= mainResult.length %></p>
        </div>
        <div class="col-sm-4 col-md-4">
          <strong>Lookback Period:</strong>
          <p><%= mainResult.lookback%></p>
        </div>
        <div class="col-sm-4 col-md-4">
          <strong>Standard Deviation:</strong>
          <p><%= mainResult.std_dev%></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-md-4">
          <strong>Front Vector:</strong>
          <p><%= mainResult.front_vector %></p>
        </div>
        <div class="col-sm-4 col-md-4">
          <strong>Middle Vector: </strong>
          <p><%= mainResult.mid_vector%></p>
        </div>
        <div class="col-sm-4 col-md-4">
          <strong>Back Vector: </strong>
          <p><%= mainResult.back_vector%></p>
        </div>
      </div>
    </div>

    <div class = "container jumbotron vertical-center" style="max-width: 600px" id = "jumbotron-index-report">
      <strong class = "container text-center">ROI:</strong>
      <p><%= mainResult.roi%></p>
      <strong class = "container text-center">Balance Change:</strong>
      <p>Starting: <%= mainResult.starting_balance %></p>
      <p>Ending: <%= mainResult.ending_balance %></p>
    </div>  -->
      <!-- <form action="/note/<%= mainResult.id %>/comment" method="POST">
        <div class="form-group">
          <label for="comment">Comments</label>
          <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
        </div>
        <div class="col text-center">
          <input 
            class = "btn btn-primary btn-lg text-center"
            id = "submit-button"
            type="submit" 
            value="Submit" />
        </div>
      </form> -->
    <br><br>
    <!-- <div class="col text-center"> 
      <a href = "/note/<%= mainResult.id %>/comments">
      Show All Of This Entry's Comments 
      </a>
    </div>
    <br>
    <div class="col text-center"> 
      <a href = "/note/<%= mainResult.id %>/behaviours">
      Show All Of This Entry's Behaviours 
      </a>
    </div> -->
    <br> 
    <%- include('partials/footer'); -%>
  </body>
</html>
