<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head', {title: `Backtesting Form`, background:
    `https://images.mktw.net/im-429485?width=700&size=1.4382022471910112&pixel_ratio=1.5`});
    -%>

    <!-- adapted from https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_html_attr_set and 
    https://stackoverflow.com/questions/28203140/how-to-make-todays-date-default-value-in-bootstrap-date-input/28203274-->
    <script>
      var today = Date();

      $(document).ready(function () {
        $("#creation_time").attr("value", today);
        $("#submit-button").click(function () {
          $("#creation_time").attr("value", today);
        });
      });

      var checks = document.querySelectorAll(".check");
      var max = 3;
      for (var i = 0; i < checks.length; i++)
        checks[i].onclick = selectiveCheck;
      function selectiveCheck(event) {
        var checkedChecks = document.querySelectorAll(".check:checked");
        if (checkedChecks.length >= max + 1) return false;
      }
    </script>
  </head>
  <body>
    <%- include('partials/navbar-header', {header: `Backtest Form`, subheader:
    `Submit Your New Backtest`}); -%>

    <div class="container" id="form-container" style="max-width: 600px">
      <form action="/backtest" method="POST">
        <div class="row">
          <div class="form-group col-sm-6 col-md-6">
            <label for="starting_balance">Starting Balance ($)</label>
            <input
              type="text"
              class="form-control"
              id="starting_balance"
              name="starting_balance"
              placeholder="1000"
              required
            />
          </div>
          <div class="form-group col-sm-6 col-md-6">
            <div class="col">
              <div class="col justify-content-start">
                <label for="timeframes_id">Timeframes (in mins): </label>
                <select
                  class="form-control"
                  name="timeframes_id"
                  id="timeframes_id"
                >
                  <% timeframes.forEach((type) => { %>
                  <option value="<%= type.id %>"><%= type.timeframe %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4 col-md-4">
            <label for="front_leg">Front Leg</label>
            <input
              type="text"
              class="form-control"
              id="front_leg"
              name="front_leg"
              placeholder="ETH-24JUN22"
              required
            />
          </div>
          <div class="form-group col-sm-4 col-md-4">
            <div class="col">
              <div class="col justify-content-start">
                <label for="middle_leg">Middle Leg</label>
                <input
                  type="text"
                  class="form-control"
                  id="middle_leg"
                  name="middle_leg"
                  placeholder="ETH-25MAR22"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group col-sm-4 col-md-4">
            <div class="col">
              <div class="col justify-content-start">
                <label for="middle_leg">Back Leg</label>
                <input
                  type="text"
                  class="form-control"
                  id="back_leg"
                  name="back_leg"
                  placeholder="BTC-25MAR22"
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <!-- <p>Instruments (pick 3):</p>
        <div class="form-group" style="max-width: 600px">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="BTC-30DEC22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  BTC-30DEC22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="BTC-25MAR22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  BTC-25MAR22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="BTC-25FEB22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  BTC-25FEB22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="BTC-28JAN22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  BTC-28JAN22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="BTC-24JUN22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  BTC-24JUN22
                </label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="BTC-21JAN22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  BTC-21JAN22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="BTC-30SEP22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  BTC-30SEP22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="BTC-PERPETUAL"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  BTC-PERP
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="BTC-14JAN22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  BTC-14JAN22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="ETH-28JAN22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  ETH-28JAN22
                </label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="ETH-24JUN22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  ETH-24JUN22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="ETH-30DEC22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  ETH-30DEC22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="ETH-25FEB22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  ETH-25FEB22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="ETH-21JAN22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  ETH-21JAN22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="ETH-25MAR22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  ETH-25MAR22
                </label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="ETH-30SEP22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  ETH-30SEP22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="ETH-14JAN22"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  ETH-14JAN22
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="instruments"
                  value="ETH-PERPETUAL"
                  id="instruments"
                />
                <label class="form-check-label" for="instruments">
                  ETH-PERP
                </label>
              </div>
            </div>
          </div>
        </div> -->
        <br />
        <div class="col text-center">
          <input
            class="btn btn-primary btn-lg text-center"
            id="submit-button"
            type="submit"
            value="Submit"
          />
        </div>
      </form>
    </div>
    <%- include('partials/footer'); -%>
  </body>
</html>
