<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head', {title: `Birdwatching, Index
    ${noteIndex.id}`, background: `https://c.tenor.com/v3wbkJZ3r14AAAAC/attack-birds.gif`}); -%> 
  <body>
    <%- include('partials/navbar-header', {header: `Birdwatching  Report`,
    subheader: `ID No. ${noteIndex.id}`}); -%>
    <br><br>
   
    <div class="container" id="index-container" style="max-width: 600px">
     
      <div class="row">
        <div class="col-sm-6 col-md-6">
          Date/Time of Sighting: <%= noteIndex.date %>
        </div>
        <div class="col-sm-6 col-md-6">
          Flock Size: <%= noteIndex.flock_size%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6">
          Bird Species: <%= noteIndex.species %>
        </div>
        <div class="col-sm-6 col-md-6">
          User's Email: <%= noteIndex.email%>
        </div>
      </div>
    </div>

    <div class = "container jumbotron vertical-center" style="max-width: 600px" id = "jumbotron-index-report">
      <strong class = "container text-center">Appearance:</strong>
      <p><%= noteIndex.appearance%></p>

    <!-- <div class = "container jumbotron vertical-center" style="max-width: 600px" id = "jumbotron-index-report">
      <strong class = "container text-center">Behaviour:</strong>
      <p><%= noteIndex.behaviour %></p>
    </div>  -->
      <form action="/note/<%= noteIndex.id %>/comment" method="POST">
        <div class="form-group">
          <label for="comment">Comments</label>
          <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
        </div>
        <div class="col text-center">
          <input 
            class = "btn btn-primary btn-lg text-center"
            id = "submit-button"
            type="submit" 
            value="Submit" />
        </div>
      </form>
    <br><br>
    <div class="col text-center"> 
      <a href = "/note/<%= noteIndex.id %>/comments">
      Show All Of This Entry's Comments 
      </a>
    </div>
    <br>
    <div class="col text-center"> 
      <a href = "/note/<%= noteIndex.id %>/behaviours">
      Show All Of This Entry's Behaviours 
      </a>
    </div>
    <br> 
    <%- include('partials/footer'); -%>
  </body>
</html>
